@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<a asp-action="Index" asp-controller="Actor">List of Actors</a>
<hr />
<a asp-action="Index" asp-controller="Producer">List of Producers</a>
<hr />
<a asp-action="Index" asp-controller="Cinema">List of Cinemas</a>
<hr />
<a asp-action="Index" asp-controller="Movie">List of Movie</a>
